*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
}

header{
    width: 100%;
    padding: 20px 20px;
    font-size: 15px;
    background-color:black;
}
  
.nav-links ul{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.nav-links a{
    color: white;
}
  
.nav-links a:hover{
    text-decoration: underline;
    color: rgb(16, 132, 221);
}

.nav-links a:visited{
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    background-color: black;
    place-items: center;
    height: 100vh;
}

.grid{
    display: grid;
    gap: 15px;
    width: 50%;

    grid-template-areas: 
    
    'a a b'
    'a a b'
    'c d d'
    'c e e'
    ;


}

main div{
    padding: 60px;
    text-align: center;

}

.shape-a{
    background-color: aquamarine;
    grid-area: a;
    height: 190px;
    
}

.shape-b{
    background-color: sienna;
    grid-area: b;
}

.shape-c{
    background-color: mediumseagreen;
    grid-area: c;
}

.shape-d{
    background-color: lightsalmon;
    grid-area: d;
}

.shape-e{
    background-color: lightcoral;
    grid-area: e;
}
